* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    justify-content: center; 
    align-items: center;
}

.logo img {
    margin-top: 15px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: center; 
    width: 100%; 
    background-color: #1f558a; 
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; 
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #004080;
    border-radius: 4px;
}

.banner {
    height: 250px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.banner h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #ff6f61;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ff4f41;
}

.bubble{
    display: flex;
}

.mission, .vision{
    background-color: #f0f0f0;
    padding: 20px;
    flex: 1;
    margin: 20px;
    text-justify: distribute;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event{
    padding: 20px;
    text-align: center;
}

.membership{
    padding: 20px;
    text-align: center;
}

.membership h1, .event h1 {
    color: #1f558a;
    font-weight: 800;
    text-align: center;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

section {
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}



footer{
    text-align: center;
}